.body {
    top: 20px;
    background-color: lightgoldenrodyellow;
}
nav{
    position: sticky;
    margin-top: 50px;
    text-align: center;
}
.nav-item{
    position: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.7rem;
}